<mat-card>
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" *ngFor="let num of [1,2,3,4]">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>JERALD APIT</mat-card-title>
                    
                  </mat-card-header>
        <mat-card class="mat-elevation-z4">
            <img mat-card-image src="../../assets/1.jpeg" height="400px">
            <img mat-card-image src="../../assets/2.jpeg" height="400px">
            <img mat-card-image src="../../assets/3.jpEg" height="400px">
            <img mat-card-image src="../../assets/5.jpEg" height="400px">

        </mat-card>
    </div>
    </div>
    </div>
</mat-card>
