<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title class="mat-elevation-z2">
           <h1><span>JERALD APIT</span></h1>
            <h4>AGE: 21 YEARS OLD</h4>
            <H4>BIRTHDAY: SEPTEMBER 15, 2000</H4>
        </mat-card-title>
      <img class="mat-elevation-z4" mat-card-xl-image src="../../assets/4.jpeg">
    </mat-card-title-group>
    <mat-card-content class="mat-elevation-z2">
      <mat-list>
        <mat-list-item>Address: Brgy. Pinamopoan Capoocan , Leyte</mat-list-item>
        <mat-list-item>Primary: Pinamopoan Central School</mat-list-item>
        <mat-list-item>Secondary: Pinamopoan Senior High School</mat-list-item>
        <mat-list-item>Tertiary: Eastern Visayas State University</mat-list-item>
        <mat-list-item>Course: Bachelor of Science in Information Technology</mat-list-item>
      </mat-list>  
    </mat-card-content>
  </mat-card>

